/*Body*/
.body-site {
  background-color: #71C9CE;
}
/*Navbar*/
.nav-link {
  text-align: right;
}
.navi {
  font-size: 120%;
  padding: 2% 8%;
}
.navi-icon {
  padding: 20%;
}
/*Profile*/
#title {
  color: #fff;
  font-size: 5rem;
  padding: 5% 0 5% 5%;
}
.profile {
  margin: 5% 5% 5%;
}
.profile-pic {
  position: static;
  width: 80%;
  margin: 2% auto ;
}
.about {
  color: #5F6F94;
  padding: 0 5%;
  font-size: 2rem;
}
/*Skill*/
.skill {
  color: #fff;
  text-align: center;
}
.skill-pic {
  width: 40%;
  margin: 10% 30% 20%;
}
/*Cert*/
#cert {
  margin-top: 10%;
}
.cert {
  color: #fff;
  text-align: center;
  margin-bottom: 3%;
}
.pic-cert {
  width: 50%;
  margin: 0 25%;
}
/*Other*/
.end-point {
  border-top: dotted 25px;
  border-top-color: white;
  width: 100px;
  margin: 5% auto;
}
